<!DOCTYPE html>
<html>
  <head>
    <title>RilsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

  </head>

  <body>
    <div class="my-navbar">
      <%=link_to("Wikinimous", articles_path)%>
      <%=link_to("New Article", new_article_path)%>
    </div>
    <div class="my-container">
      <%= yield %>
    </div>
  </body>
</html>
